# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\School\CSE460 - Software Development\pacman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
